<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <header class="p-4 mb-3">
            <h1 class="text-center text-white">BitGames</h1>
        </header>
        <nav class="navbar navbar-expand-sm navbar-dark">
            <div class="container-fluid">
                <nav class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="navbar-nav me-auto">
                        <a class="nav-item nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        <a class="nav-item nav-link" asp-controller="Game" asp-action="GameList">Games</a>
                        <a class="nav-item nav-link" asp-controller="About" asp-action="AboutUs">About Us</a>
                        <a class="nav-item nav-link" asp-controller="LogIn" asp-action="SignIn">Sign In</a>
                    </div>
                </nav>
            </div>
        </nav>

        @RenderBody()
    </div>
</body>
</html>