@{
    ViewData["Title"] = "Sign In Page";
}

<form>
    <a asp-action="Register">Click here to Register account.</a>
    <div class="mb-3">
        <label class="form-label">Username: </label>
        <input class="w-25 form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Password: </label>
        <input class="w-25 form-control" />
    </div>

    <button type="submit" class="btn btn-primary bg-black">Log In</button>
</form>