@{
    ViewData["Title"] = "Home Page";
}

<div class="text-start">
    <h4 class="display-4">Welcome</h4>
    <p>BitGames is a web app where users can play mini games. In this site you will find plenty of mini-games to play for you to enjoy. 
        <br /> Before you are able to play, you must sign up and make an account. The account is necessary to keep scores in various games 
        <br /> that you will be playing. Registration for an account is free. Once you have registered, you can click the "Games List"
        <br /> link and choose what game you want to play. We hope you enjoy your stay!.
    </p>
</div>
